<!-- template html criado como base e corpo da página index_login e login -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Página de cadastro e login</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" />
    </head>
<body>
    <div class="col-md-3"></div>
    <div class="col-md-6 well">
        <h3 class="text-primary">Página de cadastro e login</h3>
        <hr style="border-top:1px dotted #000;"/>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>